*{
    box-sizing:border-box;margin:0;padding:0;border:0;font-size:13px;font:inherit;font-family:Arial,Helvetica,sans-serif;vertical-align:baseline;text-decoration: none;color: black;list-style-type: none ;
}

:root {
    --couleur-principale:antiquewhite;
  }

  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }

  h1{
    color: white;
    margin-left: 50px;
    font-size: 10rem;
    font-family: "Dancing Script", cursive;

    
}

h2{
    font-size: 5rem;
    font-family: "Dancing Script", cursive;
    margin-bottom: 15px;

}
h5{
    /* Les étoiles  */
    color:yellow;
}

/*----- Nav Bar-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  */

nav{
    height: 100px;
    background-color: var(--couleur-principale);
}

nav ul{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr ;
    
}

nav ul li{
    margin-top: 38px;    
    text-align: center;
}

nav img{
    margin-top: -40px;
    height: 100px;
    width: auto;
}
/*----- Page 1 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  */


#page1{
    display: flex;
    align-items: center;
    height:810px;
    
    background: url(/img/valeria.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #intermede {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--couleur-principale);
    padding: 15vh;

}

#intermede img {
    width: 60px ;
    margin-top: 15px;
}
#intermede *{
    
    text-align: center;
    width: 50%;
}

#texte_page p {
    margin-left: 15px;
    font-size: 3rem;
    color: white;
    font-family: "Roboto Mono", monospace;

}
#texte_page button {
    font-size: 2rem;
    font-family: "Roboto Mono", monospace;

    background-color: transparent;
    color: white;
    border: 4px solid white;
    width: 30vh;
    margin-left: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}
#texte_page button:hover {
    background-color: white;
    color: black;
    
    
}

/*----- Page Avis & Maps -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  */


#avis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:  var(--couleur-principale);
    width: 60%;
    height: 700px;
    padding: 5vh;
}

._avis_{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(10, 6, 6) ;
}

#maps{
    width:600px;
    height:600px ;
    border-radius: 10% ;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8vh;
}

/*----- Footer -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  */

footer{
    height: 150px;
    margin-top: 10vh;
    background-color: var(--couleur-principale);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer{
    width: 30vw;
  }
  #logo_footer{
    border-right: 2px solid black;
    padding: 0;
  }
  #logo_footer img{
    height: 120px;

  }
  #ressaux_sociaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #ressaux_sociaux img{
    background-color: white;
    clip-path: circle(50.0% at 50% 50%);
    padding: 15px;
    width: 50px;
    height: 50px;
    
  }
  #ressaux_sociaux a{
    text-align: center;
    
  }
  
  #ressaux_sociaux img:hover{
    background-color: transparent;
    filter: invert(100%);
    width: 80px;
    height: 80px;
   
    transition: 0.4s;
  }


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


#menu{
  background-color: whitesmoke;
}
.page{
  margin: auto;
  width: 60vw ;
  background-color: var(--couleur-principale);
}

.piedpage{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
  padding: 5px;
  background-color:  var(--couleur-principale);
}
#texte_menu h1{
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  color: black;
  margin-top : 50px;
  margin-bottom: 50px;
  
}
#texte_menu h3{
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  display: block;
  border-bottom: 2px dotted black;
  margin-bottom: 50px;

}

.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info p{
  width: 60%;
  font-family: "Caveat", cursive;


}
.imgmenu{
  width: auto;
  height: 200px;
  border-radius: 100%;
}

